@model Song

<h3 class="text-danger text-center">Information for the requested song cannot be found!</h3>

<br />
<p>Requested song information: </p>
<p><b>Song Name: </b><i>@Model.Name</i></p>
<p><b>Artist: </b><i>@Model.Artist</i></p>

<div class="btn-block text-center">
    <a asp-controller="SongManager" asp-route-Id="@Model.Id" asp-route-slug="@Model.Slug" asp-action="Edit" class="btn btn-warning">Edit Song Name or Artist</a>
    <a asp-controller="SongContents" asp-route-Id="@Model.Id" asp-route-slug="@Model.Slug" asp-action="UpdateWrongSongInfo" class="btn btn-primary">Manually Input Song Information</a>
    <a asp-controller="SongManager" asp-route-Id="@Model.Id" asp-route-slug="@Model.Slug" asp-action="Delete" class="btn btn-danger">Delete Song</a>
    <a asp-controller="SongManager" asp-action="Index" class="btn btn-secondary">Back To Main Menu</a>
</div>